<header class="navigation-header">
    <nav>
        <a class="logo" href="#">Digital Empire</a>
        <form class="clearfix">
            <input type="text" placeholder="Search">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
                
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Products</a></li>
        </ul>
        <ul class="secondary-nav">
            <li><a href="#">Phones</a></li>
            <li><a href="#">Tablets</a></li>
            <li><a href="#">Desktops</a></li>
            <li><a href="#">Components</a></li>
        </ul>
    </nav>
</header>