<div class="hero">
    <p>Best phones, tablets, <br> computers for all ages</p>
</div>

<div class="specialOffer">
    <h1>Deal of the day</h1>
    <h2>{{$ctrl.phone.name}}</h2>
    
    <img ng-src="{{$ctrl.phone.phoneImageUrl}}" alt="{{$ctrl.phone.name}}">
    
    <a href="#">More information...</a>
</div>


<div class="signin">
    <h2>For the best experience</h2>
    <a href="#">Sign up</a>
    <a href="#">Login</a>
</div>


<div class="story">
    <h2>Our Story</h2>
    
    <p>
        Digital Empire is a leading online retailer committed to becoming the most loved and trusted marketplace on the web. We tirelessly pursue these goals by offering a superior shopping experience, rapid delivery and stellar customer service.  
    </p>
    
    <p>
        Digital Empire we believe service truly begins after the product you ordered arrives at your doorstep. We follow through on this commitment with exceptional customer service. Our team of service associates are available via phone, e-mail and online chat to help ensure your utmost satisfaction. 
    </p>
</div>

<div class="contact">
    <h2>Contact Us</h2>
    
    <form action="#" name="contact-form" class="contact-form">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" />
        </div>
        
        <div>
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" />
        </div>
        
        <div>
            <label for="message">Message: </label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
        
        <div>
            <button type="submit">Submit</button>
            <button type="reset">Cancel</button>
        </div>
    </form>
</div>


<footer class="home-footer">
    <div class="full-btn">
        Top of page
    </div>
    
    <a href="#" class="loginBtn">Login</a>
    
    <ul class="footer-list">
        <li><a href="#">Cart</a></li>
        <li><a href="#">Customer Serv.</a></li>
        <li><a href="#">Tablets</a></li>
    </ul>
    <ul class="footer-list">
        <li><a href="#">Phones</a></li>
        <li><a href="#">Computers</a></li>
        <li><a href="#">Components</a></li>      
    </ul>
</footer>